<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- IMU at exact center of chassis box (in chassis frame) -->
  <joint name="imu_joint" type="fixed">
    <parent link="chassis"/>
    <child link="imu_link"/>
    <origin xyz="0.15 0 0.075" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.03 0.03 0.01"/>
      </geometry>
      <material name="Orange"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.03 0.03 0.01"/>
      </geometry>
    </collision>

    <xacro:inertial_box mass="0.02" x="0.03" y="0.03" z="0.01">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
  </link>

  <gazebo reference="imu_link">
    <material>Gazebo/Orange</material>

    <sensor name="imu_sensor" type="imu">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>200</update_rate>

      <plugin name="imu_controller" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <argument>~/out:=imu</argument>
        </ros>
        <frame_name>imu_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>